<ion-header  class="ion-no-border">
  <ion-toolbar color="secondary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="end" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button style="display: none;">
        <ion-icon slot="start" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content  color="secondary">
  

 <br>
 <br>
 <br>
 <br>

  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <div class="ion-text-center">
          <ion-label >SOCIAL MEDIA LOGIN FORM</ion-label>
        </div>
        
      </ion-card-content>
    </ion-card>
    <ion-card>
    
    
      <ion-card-content>
        <div class="ion-text-center">
       <ion-input placeholder="Enter Input"  position="floating"> Username: </ion-input><br>
       <ion-input placeholder="Enter Password"  position="floating" type="password"> Password: </ion-input><br>
       <ion-button (click)="loginfunction()">LOGIN</ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>

  

  
</ion-content>
