<ion-app>
  <!-- <ion-tabs >
    <ion-tab-bar slot="bottom" slot="fixed">
      <ion-tab-button  routerLink="/feed">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/friends">
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Request</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/videos">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/profile">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

  <!-- <ion-fab style="position: absolute; right: 10px; top: 550px;" horizontal="end" activated="true" slot="fixed">
    <ion-fab-button class="fab-button-show">SHARE</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button href="https://facebook.com">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://twitter.com">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button href="https://youtube.com">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>
